<div class="container">
  <div class="page-header">
    <h1>Social Profile</h1>
  </div>
  {{#each model as |project|}}
      <h4>{{project.name}}</h4>
      <h5>Current Campaign</h5>
    {{project.current.name}}
  {{/each}}
  {{outlet}}
</div>