<div class="row col-md-offset-1">
    <h4>Name</h4>
    <p>{{teammember.name}}</p>
</div>
<div class="row col-md-offset-1">
    <h4>GitHub Username</h4>
    <p>{{teammember.github}}</p>
</div>
<div class="row col-md-offset-1">
    <h4>Email</h4>
    <p>{{teammember.email}}</p>
</div>